@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    height:100%;
    font-family: Poppins, sans-serif;
}

.justify-between {
    justify-content: space-between;

}

.justify-evenly {
  justify-content: space-evenly;
}


.content-center {
  align-content: center;
}

.m-10 {
  margin: 15px;
}
/* .pb-4 {
 padding-bottom: 4px !important; 
} */



/* ------------------------ SCrollbar ------------------------ */

::-webkit-scrollbar {
    width: 12px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    padding: 3px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4e302267;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4e3022b7;
  }


  /* -----------------info boxes ------------------- */

  .general-info-box {
    padding: 3px;
    background-color: rgb(199, 220, 234);
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: blue;
    border-radius: 5px 5px 5px 5px;
}

.attribute-info-box {
  padding: 3px;
  background-color: rgb(234, 199, 199);
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: red;
  border-radius: 5px 5px 5px 5px;
  margin: 5px;
}
